/* search_style.css */

/* Media style */

#background-video {
    width: 100%;
    height: 100%;
    position: fixed;
    object-fit: cover; /* Makes an image fill its container without distortion */
    z-index: -1; /* Places video in background */
}

.error_text {
    display: flex;
    justify-content: center;
    font-size: 5vh;
    color: #000000;
    z-index: 10; /* Places error text foreground */
}

/* Central text */

.text_above {
    animation: fadeInUp 1.5s ease-out forwards;
}

/* Destination search overlay style */

.search_overlay {
    position: absolute;
    width: 55%;
    bottom: 25vh;
    padding: 1.25%;
    background: #2c3e50;
    border-radius: 7px;
}

.search_form {
    display: flex;
    width: 100%;
    gap: 2vh;
}

.search_input {
    width: 100%;
    padding: 2%;
    border-radius: 5px;

    /* Allows the search overlay to keep a fixed size when writing into the field */
    border: 2px solid transparent;

    font-size: 2.5vh;
}

.search_input:focus {
    border: solid 2px #21a9ff;
    outline: none;
}

.button_validate {
    padding: 2%;
    border: 2px solid transparent;
    border-radius: 5px;
    color: white;
    font-size: 2.5vh;
    background: #ffa500;
    cursor: pointer;
}

.button_validate:hover {
    background: #ff8c00;
    animation: pulse 1.5s infinite;
}

.button_validate:active, .advanced_search_button:active {
    border: solid 2px #ffffff;
}

/* Path to advanced search style */

.advanced_search_block {
    display: flex;
    position: relative;
    width: 100%;
    height: 40vh;
    margin-top: -3vh;
    background-color: #21a9ff;
    box-shadow: 0px -5px 10px rgba(0, 0, 0, 0.3), 0px 5px 10px rgba(0, 0, 0, 0.3);
    z-index: 1;
}

.trip_img {
    width: 35%;
    height: 40vh;
}

.advanced_search_text {
    display: flex;
    flex-grow: 1; /* allow a flex item to expand and fill available space */
    flex-direction: column;
    align-items: center;
}

.advanced_search_text p {
    margin-top: 7vh;
    color: #ffffff;
    font-size: 6vh;
    font-weight: bold;
    text-shadow: 3px 3px 6px rgba(0, 0, 0, 0.3);
}

.advanced_search_text a {
    margin-top: 8vh;
    color: #ffffff;
    font-size: 4vh;
    font-weight: bold;
    text-decoration: none;
    text-shadow: 1.5px 1.5px 1.5px rgba(0, 0, 0, 0.1);
}

.advanced_search_button {
    width: 80%;
    height: 30%;
    margin-top: 5vh;
    border: solid #0d71af;
    background-color: #0d71af;
    padding: 1vh;
    border-radius: 10px;
}

.advanced_search_button:hover {
    animation: pulse 1.5s infinite;
    cursor: pointer;
}

.advanced_search_image {
    width: 4vh;
    height: 4vh;
}

.whitebar_destination {
    display: flex;
    width: 100%; 
    height: 50vh; 
    background-color: #ffffff; 
    justify-content: center;
    align-items: center;
    padding: 0 1.5%;
    gap: 5vh;
}

/* Animations */

/* Dynamically display the central text bit by bit */
@keyframes fadeInUp {
    0% {
        opacity: 0;
        transform: translateY(30px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}