/* General list style */
.service_list {
    display: flex;
    justify-content: space-between;
    padding-left: 0;
    margin-top: 10px;
    list-style-type: none;
}

/* Columns style */

.left_column, .right_column {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

/* List items style */

.service_list li {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 2vh;
    margin-bottom: 8px;
    white-space: nowrap;  /* Prevent line breaks */
}

/* Icons style */

.service_icon {
    width: 30px;
    height: 30px;
}

/* Overview section */

.overview {
    display: flex;
    flex-direction: row;
    gap: 5vw;
    margin-bottom: 10vh;
    margin-right: 6vw;
    align-items: flex-start; /* Align items to the top */
}

.info_list li {
    font-size: 20px;
    padding-bottom: 25px;
    color: #050552;
}

/* Timeline style */

.timeline {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px 0;
    margin-bottom: 5vh;
}

/* Step style in timeline */

.step {
    width: 50px;
    height: 50px;
    background-color: #ddd;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    cursor: pointer;
}

.step.active {
    background-color: #21a9ff;
    color: white;
}

/* Line between steps */

.step_line {
    width: 100px;
    height: 5px;
    background-color: #ddd;
}

/* Image Container Style */

.image_container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 10vh;
    margin-top: 3vh;
}

/* Underline Style */

.line {
    height: 1px;
    background-color: #050552;
    margin-bottom: 5vh;
}

.underline_info {
    width: 15%;
}

.underline_timeline {
    width: 30%;
}

.underline_planification {
    width: 50%;
    margin: 0 auto;
    margin-bottom: 5vh;
}

/* Side Images Container */

.side_images {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

/* Small image style */

.small_img {
    width: auto;
    height: 29.5vh;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
    object-fit: cover; /* Ensure image keeps proportions without distortion */
}

/* Header styles */

h2 {
    font-size: 45px;
    text-align: center;
    margin-bottom: 2vh;
    color: #050552;
}

h3 {
    font-size: 30px;
    margin-bottom: 2vh;
    color: #050552;
}

h4 {
    font-size: 30px;
    text-align: center;
    margin-bottom: 5vh;
    color: #050552;
}

/* Image Style */

.presentation_img {
    width: 100%;
    height: 60vh;
    object-fit: cover;
    border-radius: 10px;
    margin-right: 20px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
}

.legend {
    text-align: center;
}

/* Text Style */

.description {
    align-items: center;
    display: flex;
    flex-direction: column;
    flex: 1;
    text-align: justify;
    font-size:2.5vh;
    margin-right:10px;
}

.planification_text {
    text-align: center;
}


/* Board Style */
.board {
    display: block;
    margin: 0 auto; 
    background: #ffffff;
    margin-bottom: 10vh;
}

/* Select and input fields */

select, [type="date"]{
    font-size:2.8vh;
}

/* Table in board */

.board table {
    width: 100%;
    border-collapse: collapse;
    font-size:2.8vh;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.board th {
    background-color: #21a9ff;
    color: white;
    padding: 10px;;
    border-radius: 5px 5px 0 0;
    text-align: center;
}

.board td {
    padding: 10px;
    border-bottom: 1px solid #ddd;
    text-align: center;
}

.board tbody tr:hover {
    background-color: rgba(0, 123, 255, 0.1);
}

/* Separators */

.separate_presentation {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%; 
    height: 21vh; 
    padding: 0 1.5%;
}

.separate {
    height: 8.5vh;
}

/* Board select and input style */

.board select, .board input {
    width: 100%;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

/* Dropdown Menu Style */

.dropdown_button {
    position: relative;
    width: 100%;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.dropdown_button:hover, .dropdown_button:active {
    border: solid 2px #ffffff;
    outline: none;
}

.type_button::after, .price_button::after {
    content: " ⏷"; /* Down arrow added to indicate that this is a drop-down list */
    color: #ffffff;
}

.dropdown_content {
    position: absolute;
    top: 100%; /* Shift under the button */
    left: 0;
    background-color: #ffffff;
    border-radius: 5px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
    padding: 10px;
    display: none;
    z-index: 10;
    font-size: 2vh;
}

.dropdown:hover .dropdown_content {
    display: block;
}

/* Style for Labels and Checkboxes */

.dropdown_content label {
    display: flex;
    align-items: center;
    gap: 8px;
    margin-bottom: 10px;
    font-size: 1em;
    cursor: pointer;
    white-space: nowrap;
}

/* Buttons style  */

.reservation_button {
    display: block;
    margin: 7vh auto;
    width: 50%;
    height: 10vh;
    border: solid #ffa500;
    background-color: #ffa500;
    border-radius: 10px;
    text-shadow: 1.5px 1.5px 1.5px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
}

.reservation_button:hover {
    animation: pulse 1.5s infinite;
    cursor: pointer;
}

/* Reservation Button */

.reservation_text {
    color: #ffffff;
    font-size: 4vh;
    font-weight: bold;
    text-decoration: none;
}

.reservation_button:active {
    border: solid 2px #383838;
}

.reservation_button:hover {
    background-color: #ff8c00;
    border: solid #ff8c00;
}

/* Footer Section */

.separate_footer {
    height: 6vh;
}

.footer_section h3 {
    color: #ffffff;
    margin-bottom: 20px;
    font-size: 3vh;
}


/* dark mode */

.dark-mode .info_list li {
    font-size: 20px;
    padding-bottom: 25px;
    color: #ffffff;
}

.dark-mode h2 {
    font-size: 45px;
    text-align: center;
    margin-bottom: 2vh;
    color:#ffffff;
}

.dark-mode h3 {
    font-size: 30px;
    margin-bottom: 2vh;
    color: #ffffff;
}

.dark-mode h4 {
    font-size: 30px;
    text-align: center;
    margin-bottom: 5vh;
    color: #ffffff;
}


.dark-mode .line {
    height: 1px;
    background-color: #ffffff;
    margin-bottom: 5vh;
}

.dark-mode .step.active {
    background-color: #21a9ff;
    color: black;
}

.dark-mode .step {
    width: 50px;
    height: 50px;
    background-color: #1f1f1f;;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    cursor: pointer;
}

.dark-mode .board {
    display: block;
    margin: 0 auto; 
    background: #1f1f1f;
    margin-bottom: 10vh;
}
