/* userpage_security_style.css */

body {
    background-color: #87c2e7;
}

/* Userpage security menu */

.user_container {
    width: 40%;
    display: flex;
    justify-content: center;
    align-self: center;
    margin-top: 4%;
    border: solid 3px #383838;
    padding: 5%;
    border-radius: 20px;
    background-color: #ffffff;
    margin-bottom: 4%;
}

.menu_navigation {
    display: flex;
    list-style: none;
    gap: 2vh;
    font-size: 1.5vw;
    font-weight: 100;
}

li a {
    color: #10689f;
    text-decoration: none;
}

.info_link:hover, .security_link:hover, .admin_panel_link:hover {
    text-decoration: underline;
    color: #10689f;
}

/* Separate the menu and the input fields */

hr {
    border: 1.5px solid #21a9ff;
    margin-bottom: 10vh;
    margin-top: 1.4vh;
}

/* Password fields */

form {
    display: grid;
    grid-template-columns: 1fr;
    gap: 5vh;
    max-width: 600px;
}

label {
    font-size: 18px;
}

input {
    border: solid 1px gray;
    border-radius: 4px;
    height: 50px;
    width: 30vw;
    font-size: 18px;
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.1);
    padding-left: 5%;
}

input:focus {
    border: solid 1.5px #21a9ff;
    outline: none;
}

#save_button {
    border: solid 1px #21a9ff;
    background-color: #21a9ff;
}

#reset_button {
    border: solid 1px #383838;
    background-color: #383838;
}

#save_button, #reset_button {
    height: 50px;
    width: 50%;
    font-size: 18px;
    color: white;
    text-align: center;
    border-radius: 4px;
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.1);
}

#save_button:active, #reset_button:active {
    transform: scale(0.95);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    border: solid 10px #000000;
}

#save_button:hover {
    background-color: #1a89ce;
    border-color: #1a89ce;
}

#reset_button:hover {
    background-color: #282626;
    border-color: #282626;
}

.button_group {
    display: flex;
    justify-content: center;
    gap: 5%;
}

/* Dark mode style */

.dark-mode .user_container {
    width: 40%;
    display: flex;
    justify-content: center;
    align-self: center;
    margin-top: 4%;
    border: solid 3px #383838;
    padding: 5%;
    border-radius: 20px;
    background-color: #1e1e1e;
    margin-bottom: 4%;
}