/* userpage_style.css */

body {
    background-color: #87c2e7;
}

/* Userpage informations menu style */

.user-container {
    width: 70%;
    display: flex;
    gap: 5vh;
    justify-content: center;
    align-self: center;
    margin-top: 4%;
    border: solid 3px #383838;
    padding: 5%;
    border-radius: 20px;
    background-color: #ffffff;
    margin-bottom: 4%;
    flex-direction: column;
}

.user{
    background-color: #21a9ff;
    padding: 25px;
    border-radius: 50px;
    display: flex;
    align-items: center;
    gap: 5%;
    color: white;
    font-weight: bold;
    font-size: 1.2em;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}


.user-informations {
    display: flex;
    flex-direction: column;
    gap: 1.5vh;
}

h1 {
    font-weight: 100;
    font-size: 1.75vw;
    color: #10689f;
}

.left-info {
    display: flex;
    flex-direction: column;
    gap: 2.5vh;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 30%;
}

.user-img {
    border-radius: 50%;
    border: 4px solid #ffffff;
    outline: 1px solid #dddddd;
    width: 5vw;
    height: 5vw;
    max-width: 250px;
    max-height: 250px;
    cursor: pointer;
}

.user-statut {
    margin-left: auto; /* Pousse l'élément à l'extrême droite */
    background-color: red;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    text-align: center;
}


.menu_navigation {
    display: flex;
    list-style: none;
    gap: 2vh;
}

.info_link, .security_link, .admin_pannel_link {
    font-size: 1.5vw;
    font-weight: 100;
}

li a {
    color: #10689f;
    text-decoration: none;
}

.info_link:hover, .security_link:hover, .admin_pannel_link:hover {
    text-decoration: underline;
    color: #10689f;
}

.subscription-table {
    border-collapse: collapse;
    border-radius: 10px;
    border: 1px solid #dddddd;
    overflow: visible;
    width: 15vw;
    font-size: large;
}

.subscription-table td, .statut-table th {
    padding: 8%;
    text-align: center;
}

.cell1 {
    background-color: #dddddd;
}

.cell2 {
    color: #d4af37;
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.2);
    background-color: #eeeeee;
}

hr {
    border: 1.5px solid #21a9ff;
}

form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    max-width: 600px;
    margin: auto;
}

label {
    font-size: 18px;
}

#last_name, #first_name, #tel_number, #email {
    border: solid 1px gray;
    border-radius: 4px;
    height: 50px;
    width: 250px;
    font-size: 18px;
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.1);
    padding-left: 5%;
}

#last_name:focus, #first_name:focus, #tel_number:focus, #email:focus {
    border: solid 1.5px #21a9ff;
    outline: none;
}

#save-button, #reset-button {
    height: 50px;
    width: 50%;
    font-size: 18px;
    color: white;
    text-align: center;
    border-radius: 4px;
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.1);
}

#save-button:active, #reset-button:active {
    transform: scale(0.95);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

#save-button {
    border: solid 1px #21a9ff;
    background-color: #21a9ff;
}

#reset-button {
    border: solid 1px #383838;
    background-color: #383838;
}

#save-button:active, #reset-button:active {
    border: solid 10px #000000;
}

#save-button:hover {
    background-color: #1a89ce;
    border-color: #1a89ce;
}

#reset-button:hover {
    background-color: #282626;
    border-color: #282626;
}

.button_group {
    display: flex;
    justify-content: center;
    gap: 5%;
}
