/* homepage.style.css */

/* Voyage style */

.centerbar {
    display: flex;
    justify-content: center;
    align-items: center;
}

.centerbar_text {
    color: white;
    text-decoration: none;
    font-size: 4vh;
    font-weight: bold;
    text-align: center;
    font-style: italic;
}

.whitebar {
    width: 100%; 
    height: 18vh; 
    background-color: white; 
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 1.5%;
}

.voyagebar {
    width: 75%; /* Ajuste la largeur selon besoin */
    max-width: 1200px; /* Empêche d'être trop large */
    height: 80vh; /* Hauteur totale */
    background-color: #21a9ff; 
    box-shadow: 0px 0px 50px rgba(0, 0, 0, 1);
    border-radius: 3%;
    padding: 1.5%;

    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3 colonnes égales */
    gap: 5vh; /* Espacement entre les blocs */


    margin-top: 5vh;
    margin-bottom: 5vh;
    margin-left: auto;
    margin-right: auto;
}

/* Autre */

.information {
    width: 100%; 
    height: 50vh; 
    background-color: brown;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 1.5%;
}

.left_infobox {
    position: inherit;
    float: left;
    width: 50%; 
    height: 12.5vh; 
    background-color: #FFFFFF; 
    padding: 0 1.5%;
    border: 0.25vh solid black;
}

/* Image */
.image_container {
    position: relative;
    width: 100%;
    height: 80vh; 
}

.image_container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 2;
    filter: brightness(65%);
}

.text_overlay {
    position: absolute;
    bottom: 24vh; 
    left: 50%;
    transform: translateX(-50%); 
    padding: 1.25%;
    border-radius: 5px;
    display: flex;
    align-items: center;
    gap: 1.25%;
    font-size: 3vh;
}

.text_above {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 2.5%;
    text-align: center;
    width: 80%; 
    font-weight: bold;
    animation: fadeInUp 1.5s;
}

.btn_explorer {
    display: inline-block;
    background: #21a9ff;
    color: #fff;
    padding: 15px 45px;
    border-radius: 25px;
    text-decoration: none;
    font-weight: bold;
    transition: 0.3s;
    font-size:4vh;
}

.btn_explorer:hover {
    background: #198fd9;
}

/*Overlay*/

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    display: flex;
    align-items: center;
    justify-content: center;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}
.overlay.active {
    visibility: visible;
    opacity: 1;
}
.overlay_content {
    background: white;
    padding: 20px;
    border-radius: 10px;
    width: 400px;
    text-align: center;
    position: relative;
}
.close_btn {
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 18px;
    cursor: pointer;
}
input {
    width: 100%;
    padding: 8px;
    margin: 8px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}
button {
    background: #21a9ff;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
}

body.no-scroll {
    overflow: hidden;
}

/* Script Connexion inscription*/

.switch_text {
    font-size: 14px;
    margin-top: 10px;
}

.switch_text a {
    color: #007bff;
    text-decoration: none;
    font-weight: bold;
}

.switch_text a:hover {
    text-decoration: underline;
}

/* Animations */

@keyframes fadeInUp {
    0% {
        transform: translate(-50%, 20%);
        opacity: 0;
    }
    100% {
        transform: translate(-50%, -50%);
        opacity: 1;
    }
}



