.image-container {
    display: flex;
    align-items: center; /* Centre verticalement l'image et le texte */
    justify-content: flex-start; /* Garde l'alignement à gauche */
    padding-left: 40px; /* Ajoute un espace à gauche pour éloigner l'image du bord */
}

/* Style de l'image */
.tahiti_img {
    width: 50%; /* Ajuste la taille selon tes besoins */
    height: 60vh;
    border-radius: 20px;
    margin-right: 40px; /* Augmente l'espace entre l'image et le texte */
}

/* Style du texte */
.description {
    flex: 1; /* Permet au texte de prendre l'espace restant */
    text-align: left; /* Alignement du texte à gauche */
    font-size:2.5vh;
    margin-right:10px;
}

/* Ajustement du h2 pour l'aligner avec l'image */
.description h2 {
    text-align: center;

    margin-bottom: 6vh;
}

.tableau {
    float: left; /* Place le tableau à gauche */
    margin-top: 20px; /* Espacement avec l'image */
    background: #ffffff;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.tableau table {
    width: 100%;
    border-collapse: collapse;
    font-size:2.2vh;
}

.tableau th {
    background-color: #21a9ff; /* Bleu en accord avec la barre de navigation */
    color: white;
    padding: 10px;
    text-align: left;
    border-radius: 5px 5px 0 0;
}

.tableau td {
    padding: 10px;
    border-bottom: 1px solid #ddd;
    text-align: center;
}

.tableau tbody tr:hover {
    background-color: rgba(0, 123, 255, 0.1);
}
