p {
    color: white;
}

.navigation-bar {
    top: 0;
    left: 0;
    position: fixed;
    width: 100%;
    height: 9vh; /* = 10% hauteur fenêtre*/
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
    background-color: #21a9ff; /*OU #48b7ff ?*/
}

.center-img-display {
    margin-top: 9vh;
}