/* userpage_security_style.css */

body {
    background-color: #87c2e7;
}

.user-img-nav {
    max-width: 60px;
    max-height: 60px;
    border-radius: 50%;
    border: 2px solid #ffffff;
    outline: 1px solid #dddddd;
}

.headbar_item {
    color: #ffffff;
    text-decoration: none;
    font-size: 2.7vh;
    font-weight: bold;
    white-space: nowrap;
}

/* Userpage security menu style */

.user-container {
    width: 40%;
    display: flex;
    justify-content: center;
    align-self: center;
    margin-top: 4%;
    border: solid 3px #383838;
    padding: 5%;
    border-radius: 20px;
    background-color: #ffffff;
    margin-bottom: 4%;
}

ul {
    display: flex;
    list-style: none;
    gap: 2vh;
}

li {
    font-size: 1.5vw;
    font-weight: 100;
}

li a {
    color: #10689f;
    text-decoration: none;
}

li:hover {
    text-decoration: underline;
    color: #10689f;
}

hr {
    border: 1.5px solid #21a9ff;
    margin-bottom: 10vh;
    margin-top: 1.4vh;
}

form {
    display: grid;
    grid-template-columns: 1fr;
    gap: 5vh;
    max-width: 600px;
    margin: auto;
}

label {
    font-size: 18px;
}

#current_password, #new_password, #confirmation_password {
    border: solid 1px gray;
    border-radius: 4px;
    height: 50px;
    width: 250px;
    font-size: 18px;
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.1);
    padding-left: 5%;
}

#current_password:focus, #new_password:focus, #confirmation_password:focus {
    border: solid 1.5px #21a9ff;
    outline: none;
}

#save-button, #reset-button {
    height: 50px;
    width: 50%;
    font-size: 18px;
    color: white;
    text-align: center;
    border-radius: 4px;
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.1);
}

#save-button:active, #reset-button:active {
    transform: scale(0.95);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

#save-button {
    border: solid 1px #21a9ff;
    background-color: #21a9ff;
}

#reset-button {
    border: solid 1px #383838;
    background-color: #383838;
}

#save-button:active, #reset-button:active {
    border: solid 10px #000000;
}

#save-button:hover {
    background-color: #1a89ce;
    border-color: #1a89ce;
}

#reset-button:hover {
    background-color: #282626;
    border-color: #282626;
}

.button_group {
    display: flex;
    justify-content: center;
    gap: 5%;
}
